<fieldset>
    <label>
        <input name="{{attributes.name}}" type="{{attributes.type}}" value="{{attributes.value}}" placeholder="{{meta.label.text}}" {{#if attributes.disabled}}disabled{{/if}} {{#if attributes.required}}required{{/if}}>
        <span>{{meta.label.text}}</span>
        {{> form_input_password_toggle }}
    </label>
    {{> messages }}
</fieldset>
