<button name="{{attributes.name}}" type="{{attributes.type}}" value="{{attributes.value}}" {{#if attributes.disabled}}disabled{{/if}}>
    {{#if (eq attribtues.name 'provider')}}
        Continue with {{meta.label.text}}
    {{else if (eq attributes.name 'link')}}
        Link {{meta.label.text}}
    {{else if (eq attributes.name 'unlink')}}
        Unlink {{meta.label.text}}
    {{else}}
        {{meta.label.text}}
    {{/if}}
</button>
