<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <article class="message">
                        <div class="message-body">
                            Hi {{user}}, application <strong>{{client.client_name}}</strong> wants access resources on
                            your behalf and to:
                        </div>
                    </article>
                    <form action="/consent" method="POST">
                        {{#if challenge}}
                            <!--<div style="margin-bottom: 8px">Hydra Challenge</div>
                <label id="login-challenge">
                    <input name="challenge" value={{challenge}}></input>
                    {{!-- {{> form submitLabel="challenge" form=challenge}} --}}
                </label>-->

                            <div class="field">
                                <label class="label">Hydra Challenge</label>
                                <div class="control">
                                    <input class="input" type="text" name="challenge" value={{challenge}}>
                                </div>
                            </div>
                        {{/if}}

                        {{#if csrfToken}}
                            <!--<div style="margin-bottom: 8px">CSRF Token</div>
                <label id="login-csrfToken">
                    <input name="_csrf" value={{csrfToken}}></input>
                    {{!-- {{> form form=_csrfToken}} --}}
                </label>-->

                            <div class="field">
                                <label class="label">Hydra Challenge</label>
                                <div class="control">
                                    <input class="input" type="text" name="_csrf" value={{csrfToken}}>
                                </div>
                            </div>
                        {{/if}}

                        <div class="field">
                            <label class="label">Scopes</label>
                            {{#each requested_scope as |scope|}}
                                <!--<div style="margin-bottom: 5px">
                        <input style="display: inline-block; margin-right: 3px" type="checkbox" id={{scope}} value={{scope}} name="grant_scope"></input>
                        <div style="display: inline-block">{{scope}}</div>
                    </div>-->

                                <label class="checkbox" style="display: block; padding: 5px;">
                                    <input type="checkbox" id={{scope}} name="grant_scope" value={{scope}}>
                                    {{scope}}
                                </label>
                            {{/each}}
                        </div>


                        <ul>
                            {{#if client.policy_url}}
                                <li id="login-csrfToken">
                                    <a href={{client.policy_url}}>Policy</a>
                                </li>
                            {{/if}}
                            {{#if client.tos_uri}}
                                <li id="login-csrfToken">
                                    <a href={{client.tos_uri}}>Teams of Service</a>
                                </li>
                            {{/if}}
                        </ul>

                        <label class="checkbox">
                            <input id="remember" name="remember" type="checkbox" value="1">
                            Do not ask me again
                        </label>

                        <div style="padding-top: 15px;">
                            <Button type="submit" class="button is-link is-rounded" id="accept" name="submit" value="Allow access">Allow access</Button>
                            <Button type="submit" class="button is-rounded" id="accept" name="submit" value="Deny access">
                                Deny access
                            </Button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>